*{
    box-sizing: border-box;
}

#canvas {
    width: 480px;
    height: 480px;
    display: flex;
    flex-wrap: wrap;
}

#clear, #rainbow {
    background-color: rgb(46, 46, 151);
    color: white;
    width: 200px;
    height: 50px;
    cursor: pointer;
    margin: 50px;
    font-size: 15px;
}